{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
        <div class="container">
            <div class="row">
                <h1 class="section-heading">Requested Reviews</h1>
                <div class="row">
                	<div class="col-md-6">
                		<p>Add your GitHub repository</p>
	                    <div class="input-group">
	                        <input type="text" class="form-control input-lg"
                                   placeholder="lukasmartinelli/redis-pipe"
                                   autocomplete="off"
                                   data-provide="typeahead"
                                   data-source="{{ user_repositories }}">
	                        <span class="input-group-btn">
	                            <button class="btn btn-default btn-lg" type="button">Request Review+</button>
	                        </span>
	                    </div>
	                </div>
				</div>
                <div class="col-md-6 open-review">
                    <div class="row">
                        <div class="col-xs-2">
                            <img src="https://avatars3.githubusercontent.com/u/1288339?v=3&s=460" class="img-responsive img-circle" style="margin-top: 20px"/>
                        </div>
                        <div class="col-xs-10">
                            <h3>lukasmartinelli/redis-pipe</h3>
                            <p>
                                <span class="lead">Treat Redis Lists like Unix Pipes</span>
                                <br/>
                                <small>Go • 263 stars</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 open-review">
                    <div class="row">
                        <div class="col-xs-2">
                            <img src="https://avatars1.githubusercontent.com/u/32509?v=3&s=460" class="img-responsive img-circle" style="margin-top: 20px"/>
                        </div>
                        <div class="col-xs-10">
                            <h3>bevacqua/fuzzysearch</h3>
                            <p>
                                <span class="lead">Tiny and blazing-fast fuzzy search in JavaScript</span>
                                <br/>
                                <small>JavaScript • 1250 stars</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 open-review">
                    <div class="row">
                        <div class="col-xs-2">
                            <img src="https://avatars3.githubusercontent.com/u/934293?v=3&s=460" class="img-responsive img-circle" style="margin-top: 20px"/>
                        </div>
                        <div class="col-xs-10">
                            <h3>openstf/stf</h3>
                            <p>
                                <span class="lead"> Control and manage Android devices from your browser.
</span>
                                <br/>
                                <small>JavaScript • 1695 stars</small>
                            </p>
                        </div>
                    </div>
                </div>
                <a style="color: inherit;" href="#">
                <div class="col-md-6 open-review">
                    <div class="row">
                        <div class="col-xs-2">
                            <img src="https://avatars2.githubusercontent.com/u/5117238?v=3&s=460" class="img-responsive img-circle" style="margin-top: 20px"/>
                        </div>
                        <div class="col-xs-10">
                            <h3>zombodb/zombodb</h3>
                            <p>
                                <span class="lead">Postgres Extension that allows creating an index
</span>
                                <br/>
                                <small>Java • 354 stars</small>
                            </p>
                        </div>
                    </div>
                </div>
                </a>
                <div class="col-md-6 open-review">
                    <div class="row">
                        <div class="col-xs-2">
                            <img src="https://avatars3.githubusercontent.com/u/11799296?v=3&s=460" class="img-responsive img-circle" style="margin-top: 20px"/>
                        </div>
                        <div class="col-xs-10">
                            <h3>iammert/MusicPlayerView</h3>
                            <p>
                                <span class="lead"> Android custom view and progress for music player</span>
                                <br/>
                                <small>Java • 167 stars</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 open-review">
                    <div class="row">
                        <div class="col-xs-2">
                            <img src="https://avatars2.githubusercontent.com/u/1789029?v=3&s=460" class="img-responsive img-circle" style="margin-top: 20px"/>
                        </div>
                        <div class="col-xs-10">
                            <h3>tessalt/echo-chamber-js</h3>
                            <p>
                                <span class="lead"> Commenting without the comments</span>
                                <br/>
                                <small>JavaScript • 3049 stars</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h1 class="section-heading">Reviewers</h1>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-xs-2">
                            <img src="https://avatars3.githubusercontent.com/u/1288339?v=3&s=460" class="img-responsive img-circle" style="margin-top: 20px"/>
                        </div>
                        <div class="col-xs-2">
                            <img src="https://avatars0.githubusercontent.com/u/385047?v=3&s=460" class="img-responsive img-circle" style="margin-top: 20px"/>
                        </div>
                        <div class="col-xs-2">
                            <img src="https://avatars2.githubusercontent.com/u/2108135?v=3&s=460" class="img-responsive img-circle" style="margin-top: 20px"/>
                        </div>
                        <div class="col-xs-2">
                            <img src="https://avatars3.githubusercontent.com/u/76114?v=3&s=460" class="img-responsive img-circle" style="margin-top: 20px"/>
                        </div>
                        <div class="col-xs-2">
                            <img src="https://avatars2.githubusercontent.com/u/8071008?v=3&s=460" class="img-responsive img-circle" style="margin-top: 20px"/>
                        </div>
                        <div class="col-xs-2">
                            <img src="https://avatars0.githubusercontent.com/u/105168?v=3&s=460" class="img-responsive img-circle" style="margin-top: 20px"/>
                        </div>
                        <div class="col-xs-2">
                            <img src="https://avatars2.githubusercontent.com/u/4898263?v=3&s=460" class="img-responsive img-circle" style="margin-top: 20px"/>
                        </div>
                        <div class="col-xs-2">
                            <img src="https://avatars2.githubusercontent.com/u/8189834?v=3&s=460" class="img-responsive img-circle" style="margin-top: 20px"/>
                        </div>
                        <div class="col-xs-2">
                            <img src="https://avatars2.githubusercontent.com/u/5657992?v=3&s=460" class="img-responsive img-circle" style="margin-top: 20px"/>
                        </div>
                        <div class="col-xs-2">
                            <img src="https://avatars0.githubusercontent.com/u/6763278?v=3&s=460" class="img-responsive img-circle" style="margin-top: 20px"/>
                        </div>
                        <div class="col-xs-2">
                            <img src="https://avatars0.githubusercontent.com/u/8794923?v=3&s=460" class="img-responsive img-circle" style="margin-top: 20px"/>
                        </div>
                        <div class="col-xs-2">
                            <img src="https://avatars0.githubusercontent.com/u/9975255?v=3&s=460" class="img-responsive img-circle" style="margin-top: 20px"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
