{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
        <div class="container">
            <div class="row">
                <div class="row">
                	<div class="col-md-6">
                		<p>Actively participate at Reviews</p>
	                    <div class="input-group">
	                        <span class="input-group-btn">
	                            <button class="btn btn-default btn-lg" type="button">Become a Reviewer</button>
	                        </span>
	                    </div>
	                </div>
                	<div class="col-md-6">
                		<p>Request a code review for your GitHub repository</p>
	                    <div class="input-group">
	                        <input type="text" class="form-control input-lg"
                                   placeholder="lukasmartinelli/redis-pipe"
                                   autocomplete="off"
                                   data-provide="typeahead"
                                   data-source="{{ user_repositories }}">
	                        <span class="input-group-btn">
	                            <button class="btn btn-default btn-lg" type="button">Request Review+</button>
	                        </span>
	                    </div>
	                </div>
				</div>
                <h1 class="section-heading">Requested Reviews</h1>
                {% for request in requests %}
                <div class="col-md-6 open-review">
                    <div class="row">
                        <div class="col-xs-2">
                            <img src="{{ request.repo_avatar_url }}" class="img-responsive img-circle" style="margin-top: 20px"/>
                        </div>
                        <div class="col-xs-10">
                            <h3>{{ request.repo_full_name }}</h3>
                            <p>
                                <span class="lead">{{ request.repo_description }}</span>
                                <br/>
                                <small>{% for tag in request.tags %}{{ tag }} • {% endfor %}
                                {{ request.repo_stars }} stars</small>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <h1 class="section-heading">Reviewers</h1>
                <div class="col-md-6">
                    <div class="row">
                        {% for reviewer in reviewers %}
                            {{ reviewer}}
                        {% endfor %}

                        <div class="col-xs-2">
                            <img src="https://avatars3.githubusercontent.com/u/1288339?v=3&s=460" class="img-responsive img-circle" style="margin-top: 20px"/>
                        </div>
                        <div class="col-xs-2">
                            <img src="https://avatars0.githubusercontent.com/u/385047?v=3&s=460" class="img-responsive img-circle" style="margin-top: 20px"/>
                        </div>
                        <div class="col-xs-2">
                            <img src="https://avatars2.githubusercontent.com/u/2108135?v=3&s=460" class="img-responsive img-circle" style="margin-top: 20px"/>
                        </div>
                        <div class="col-xs-2">
                            <img src="https://avatars3.githubusercontent.com/u/76114?v=3&s=460" class="img-responsive img-circle" style="margin-top: 20px"/>
                        </div>
                        <div class="col-xs-2">
                            <img src="https://avatars2.githubusercontent.com/u/8071008?v=3&s=460" class="img-responsive img-circle" style="margin-top: 20px"/>
                        </div>
                        <div class="col-xs-2">
                            <img src="https://avatars0.githubusercontent.com/u/105168?v=3&s=460" class="img-responsive img-circle" style="margin-top: 20px"/>
                        </div>
                        <div class="col-xs-2">
                            <img src="https://avatars2.githubusercontent.com/u/4898263?v=3&s=460" class="img-responsive img-circle" style="margin-top: 20px"/>
                        </div>
                        <div class="col-xs-2">
                            <img src="https://avatars2.githubusercontent.com/u/8189834?v=3&s=460" class="img-responsive img-circle" style="margin-top: 20px"/>
                        </div>
                        <div class="col-xs-2">
                            <img src="https://avatars2.githubusercontent.com/u/5657992?v=3&s=460" class="img-responsive img-circle" style="margin-top: 20px"/>
                        </div>
                        <div class="col-xs-2">
                            <img src="https://avatars0.githubusercontent.com/u/6763278?v=3&s=460" class="img-responsive img-circle" style="margin-top: 20px"/>
                        </div>
                        <div class="col-xs-2">
                            <img src="https://avatars0.githubusercontent.com/u/8794923?v=3&s=460" class="img-responsive img-circle" style="margin-top: 20px"/>
                        </div>
                        <div class="col-xs-2">
                            <img src="https://avatars0.githubusercontent.com/u/9975255?v=3&s=460" class="img-responsive img-circle" style="margin-top: 20px"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
