{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
  <div class="row">
    <h1 class="section-heading">Request new review for your project</h1>
    <div class="row">
      <div class="col-md-8">
          <form action="{% url "new" %}" method="post">
            {% csrf_token %}
            <div class="form-group {% if form.github_repo.errors %}has-error{% endif %}">
                <label for="{{ form.github_repo.id_for_label }}">
                    GitHub repository
                </label>
                {% render_field form.github_repo class+="form-control" %}
                {% if form.github_repo.errors %}
                  <span class="help-block">
                    {% for error in form.github_repo.errors %}{{ error }}{% endfor %}
                  </span>
                {% endif %}
            </div>
            <div class="form-group {% if form.review_info.errors %}has-error{% endif %}">
                <label for="{{ form.review_info.id_for_label }}">
                    Provide some information for the reviewer
                </label>
                {% render_field form.review_info class+="form-control" data-provide="markdown" %}
                {% if form.review_info.errors %}
                  <span class="help-block">
                    {% for error in form.review_info.errors %}{{ error }}{% endfor %}
                  </span>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.tags.id_for_label }}">
                    Tag your project with the technologies and languages used
                </label>
                {% render_field form.tags class+="form-control magicsuggest" placeholder="Enter one or multiple tags" %}
            </div>
            <button type="submit" class="btn btn-default btn-lg">Request Review+</button>
        </form>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static "js/request_review.js" %}" type="text/javascript"></script>
{% endblock %}
