{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
  <div class="row">
    <h1 class="section-heading">Request new review for your project</h1>
    <div class="row">
      <div class="col-md-8">
          <form action="{% url "new" %}" method="post">
            {% csrf_token %}
            <div class="form-group {% if form.github_repo.errors %}has-error{% endif %}">
                <label for="{{ form.github_repo.id_for_label }}">
                    GitHub repository
                </label>
                {% render_field form.github_repo class+="form-control" %}
                {% if form.github_repo.errors %}
                  <span class="help-block">
                    {% for error in form.github_repo.errors %}{{ error }}{% endfor %}
                  </span>
                {% endif %}
            </div>
            <div class="checkbox {% if form.create_issue.errors %}has-error{% endif %}">
                {{ form.create_issue.errors }}
                <label>
                    {{ form.create_issue }}
                    Create issue for review
                </label>
             </div>
             <br/>
             <div class="form-group {% if form.info.errors %}has-error{% endif %}">
                <label for="{{ form.info.id_for_label }}">
                    Provide some information for the reviewer
                </label>
                <div style="height: 200px;" id="epiceditor"></div>
                {% render_field form.info class+="hidden" %}
                {% if form.info.errors %}
                  <span class="help-block">
                    {% for error in form.info.errors %}{{ error }}{% endfor %}
                  </span>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-default btn-lg">Request Review+</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/epiceditor/0.2.2/js/epiceditor.min.js" type="text/javascript"></script>
<script>
    var opts = {
        textarea: '{{ form.info.id_for_label }}',
        theme: {
            base: 'https://cdnjs.cloudflare.com/ajax/libs/epiceditor/0.2.2/themes/base/epiceditor.css',
            editor: 'https://cdnjs.cloudflare.com/ajax/libs/epiceditor/0.2.2/themes/editor/epic-light.css',
            preview: 'https://cdnjs.cloudflare.com/ajax/libs/epiceditor/0.2.2/themes/preview/github.css'
        }
    };
    var editor = new EpicEditor(opts).load();
</script>
{% endblock %}
